body{
   height: 100vh;
   background-color: #EDEDED;
}

h1{
   text-align: center;
   font-size: 80px;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 150px;
}

.grid{
   display: flex;
   flex-wrap: wrap;
   height: 600px;
   width: 600px;
   border: 0.1px solid black;
   background-color: white;
}

.buttons{
   display: flex;
   flex-direction: column;
   align-items: center;
}


#picker{
   width: 80px;
   height: 80px;
   border: none;
}

.button{
   margin: 20px;
   padding: 20px;
   border-radius: 10px;
   font-size: 20px;
   width: 300px;
 }

 .button:active{
    background-color:rgb(47, 4, 4) ;
    color: white;
 }

.selectedButton{
   background-color: rgb(47, 4, 4);
   color: white;
}



.cell{
   border: 0.1px solid rgb(20, 134, 0);
   box-sizing: border-box;
}


