body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 200px;

}

.grid{
   display: flex;
   flex-wrap: wrap;
   height: 960px;
   width: 960px;
   border: 0.1px solid black;
}

.buttons{
   display: flex;
   flex-direction: column;
}

.button{
   margin: 20px;
   padding: 20px;
   border-radius: 10px;
   font-size: 20px;
 }



.cell{
   border: 0.1px solid rgb(20, 134, 0);
   box-sizing: border-box;
}


.coloredCell{
   background-color: black;
}